.worked-in-container {
    overflow: auto;
    margin: 0;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

    .ant-typography {
        color: #FFFFFF;
        margin: 0;
        padding: 0 !important;
    }

    .paragraph {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .list {
        width: 95%;
        gap: 2vw;
        
        @media screen {
            @media (max-width: 1026px) {
                flex-direction: column;
            }
        }

        .endark {
            background-color: rgba(0, 0, 0, 0.602);
            padding: 20px;
            height: fit-content;
            border-radius: 10px;
            align-items: center;
            text-align: left;
        }
    }

}