.contact-container {
    padding-left: 50px;
    align-items: start;
    text-align: start;
    gap: 15px;
    padding-bottom: 15px;
    color: white !important;

    .ant-typography {
        color: white;
        padding: 0;
        margin: 0;
        text-align: start;
    }
    h1 {
        margin: 0;
    }
    .item-container {
        height: fit-content;
        width: fit-content;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
}