.container {
  width: 100vw;
  height: 100dvh;

  .ant-layout-header {
    background: transparent !important;
    padding: 20px;
  }

  .ant-layout-content {
    width: 100%;
    overflow: auto;
    padding: 0;
  }
}

.page {
  padding-top: 50px;
}