.career-container {
    display: flex;
    flex-direction: column;
    align-items: 'center';
    color: #FFFFFF;
    align-items: center;
    padding-bottom: 20px;

    .title-container {
        padding-top: 40px;
        width: 95%;
        align-items: center;
        justify-content: center;
        gap: 100px;
        display: flex;

        @media screen {
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 50px;
                text-align: center;
            }
        }

        .title-description-container {
            align-items: end;

            @media screen {
                @media (max-width: 768px) {
                    align-items: center;
                }
            }
        }
    }

    .ant-typography {
        color: #FFFFFF;
        margin: 0;
        padding: 0 !important;
    }

    picture,
    img {
        border-radius: 100%;
        width: 180px;
        height: 180px;
        object-fit: contain;
    }
}

.presentation-container {
    background-color: rgba(0, 0, 0, 0.602);
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    align-items: start;
    text-align: justify;

    .paragraph {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    @media screen {
        @media (max-width: 768px) {
            width: 80%;
        }
    }

    height: fit-content;
}